.node {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 4px 8px rgba(31, 36, 33, 0.3);
  transition: transform 0.3s ease;
}

.node:hover {
  transform: scale(1.05);
}

.active {
  background-color: #49a078;
}

.completed {
  background-color: #216869;
  opacity: 0.9;
}

.locked {
  background-color: #9cc5a1;
  opacity: 0.6;
}

.startBtn {
  margin-top: 10px;
  background: #1f2421;
  color: #dce1de;
  border: none;
  border-radius: 12px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.startBtn:hover {
  background: #216869;
}
