/* at the very top of styles/variables.css or main global file */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #dce1de;
  color: #1f2421;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
